<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
<listeners>
 <listener class-name="com.neopane.flisteners.Frameworklistener"/>
  <listener class-name="com.neopane.flisteners.AnnotationTransformer"/>
 <listener class-name="com.neopane.flisteners.MethodInterceptor"/>
 
</listeners>
  <test thread-count="1" name="Test" parallel="methods">
    <classes>
      <class name="com.neopane.tests.OrangeLoginTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

<!--  under suite, data-provider-thread-count="3" d -->